<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Orders</title>
  <style>
    .orderBlock{
      position: absolute;
      font-size: large;
      top: 100px;
      left: 200px;
    }
    .paymentBlock{
      position: absolute;
      font-size: large;
      top: 100px;
      left: 1250px;
    }
    .userBlock{
      position: absolute;
      font-size: large;
      top: 100px;
      left: 25px;
    }
  </style>
</head>

<body>
<div style="text-align: center; font-size: xxx-large">ORDERS</div>
<div style="text-align: right"><a href="home">home</a></div>

<div class="orderBlock">
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>OrderStatus</th>
    <th>PaymentStatus</th>
    <th>Delivery</th>
    <th>Data delivery</th>
    <th>Address delivery</th>
    <th>Number client's</th>
    <th>Count</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody th:each="order : ${orders}">
  <tr>
    <td th:name="order_id" th:text="${order.getId()}"></td>
    <td th:text="${order.getOrderStatus()}"></td>
    <td th:text="${order.getPayment().getStatus()}"></td>
    <td th:text="${order.getDelivery()}"></td>
    <td th:text="${order.getDeliveryTime().toString()}"></td>
    <td th:text="${order.getDeliveryAddress()}"></td>
    <td th:text="${order.getUser().getNumber()}"></td>
    <td>
      <table>
        <thead>
        <tr>
          <th>CakeID</th>
          <th>Count</th>
        </tr>
        </thead>
        <tbody th:each="purchase : ${order.getPurchases()}">
        <tr>
          <td th:text="${purchase.getCakeId()}"></td>
          <td th:text="${purchase.getCount()}"></td>
        </tr>
        </tbody>
      </table>
    </td>
    <td>
      <form th:action="@{/admin/changeOrder/{id} (id=${order.getId()})}" th:object="${status}" th:method="post">
        <input style="height:20px;width:100px" type="text"  th:field="*{orderStatus}"></input>
        <button type="submit">update</button>
      </form>
    </td>
    <td><form th:action="@{/admin/deleteOrder/{id} (id=${order.getId()})}" th:method="post">
      <button type="submit">delete</button>
    </form></td>
  </tr>
  </tbody>
</table>
</div>

<div class="paymentBlock">
  <div style="text-align: center; font-size: large">PAYMENTS</div>
    <table>
      <thead>
      <tr>
        <th>Order ID</th>
        <th>PaymentStatus</th>
        <th>Amount</th>
        <th>Data payment</th>
      </tr>
      </thead>
      <tbody th:each="order : ${orders}">
      <tr>
        <td th:text="${order.getId()}"></td>
        <td th:text="${order.getPayment().getStatus()}"></td>
        <td th:text="${order.getPayment().getAmount()}"></td>
        <td th:text="${order.getPayment().getPaymentDate()}"></td>
      </tr>
      </tbody>
    </table>
</div>

<div class="userBlock">
  <div style="text-align: center; font-size: large">USERS</div>
  <table>
    <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody th:each="order : ${orders}">
    <tr>
      <td th:text="${order.getUser().getNumber()}"></td>
      <td th:text="${order.getUser().getName()}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>